[2017-10-09 17:19] wildan3105 opened #1 "UI Improvements"
**Current behavior:**
Current style of the website is very standard. It's even too simple for this kind of website.

**Expected behavior:**
Any UI improvements are welcome ! You can add emoji (if it's good) i.e if the repo more than 100, you can beautify the footer, and other things.

[2017-10-09 17:29] wildan3105 opened #2 "Add vertical graph that dinamically display programming language based on user's repos"
**Current behavior:**
Currently, programming language(s) from user's repo only displayed as text, each with the amount of the repo(s). Output that passed from `controllers` are an object which consist of programming language and its amount, e.g :
[code]

**Expected behavior:**
This feature will show vertical graph that dinamically display programming language based on repo. We can use library like

[2017-10-09 17:34] wildan3105 opened #3 "Display more than 100 repos"
**Current behavior:**
Based on the API call : `https://api.github.com/users/${username}/repos?client_id=${client_id}&client_secret=${client_secret}&per_page=100`, it only display 100 repos on a single page. User that has more than 100 repo will not be able to get the actual result. To do so, it should add parameter `page=2` and so on (`page=3..`) until the result of the `nth` page is less than `10

[2017-10-09 17:39] wildan3105 commented on #1
Hi @PREMPRAKASHSINGH, thanks for the quick reply! Yes, you can categorize the emoji based on the amount of user's repo. If he has no repo, you can add :cry: emoji, if he/she has 100 repo, you can add :100:, etc. Please feel free to explore! :ok_hand:

[2017-10-09 17:41] PREMPRAKASHSINGH commented on #1
Cool thanks!
Working on it 👍

[2017-10-09 17:46] wildan3105 commented on #1
If you don't mind, please beautify the search bar and button also :smile: @PREMPRAKASHSINGH. Thanks!

[2017-10-09 17:54] PREMPRAKASHSINGH commented on #1
Sure 👍

[2017-10-09 18:40] Leocardoso94 commented on #3
I will work on this

[2017-10-09 18:41] wildan3105 commented on #3
Okay @Leocardoso94, it's all yours ! Feel free to mention me if you need anything :ok_hand:

[2017-10-09 18:46] Leocardoso94 commented on #3
@wildan3105 Do you know any user that has more than 100 repos?

[2017-10-09 18:48] wildan3105 commented on #3
@Leocardoso94 some friends of mine like [at]sonnylazuardi

[2017-10-09 19:06] juancuiule commented on #2
I can work on this

[2017-10-09 19:10] wildan3105 commented on #2
That's cool! @juancuiule just mention me if you need anything more clear :ok_hand:

[2017-10-09 20:30] benjaminr177 commented on #1
Are there any UI changes which still need a helping hand?

[2017-10-09 20:33] wildan3105 commented on #1
Yes @benjaminr177 ! You could test the site from mobile, it's bad :cry:, you could improve that one and also the position of avatar is not looked well. Another improvements are welcome :)

[2017-10-09 20:34] benjaminr177 commented on #1
Okay, I'll have a look!

[2017-10-09 20:39] Trommelochse commented on #1
Would also love to contribute, but it seems like things are being taken care of :) Let me know if you can thik of anything else.

[2017-10-09 20:40] wildan3105 commented on #1
Okay @Trommelochse. Maybe I'll open up some issue(s). Still wait PR(s) from the first ones :+1:

[2017-10-09 20:51] juancuiule commented on #2
Hi @wildan3105 I created a function that takes that languages object and creates the Chart, the issue that I'm having is that I have to call that function with the languages variable that handlebars receives. Do you know if there is a way to do that? Something like {{ createChart(languages) }}
being `createChart` defined inside an script tag and languages a value that comes from the server.

[2017-10-09 20:57] wildan3105 commented on #2
Hi, thank you for reaching me out. So, if I don't get it wrong, you need to call the function passed from server to run in `script` tag at handlebars, is that right? What library do you use for displaying chart?
Honestly, I'm a still a newbie on handlebars thing so I still have no idea about this.

[2017-10-09 21:02] juancuiule commented on #2
[code]

I have that function in `main.handlebars` the issue is that I have to run it with the data that comes from the server (something like chart(languages)) and I don't know how to use it inside the script tag where that function is defined

[2017-10-09 21:02] wildan3105 commented on #3
Closed by [#4](https://github.com/wildan3105/github-langs/pull/4)

[2017-10-09 21:02] #3 closed

[2017-10-09 21:04] wildan3105 commented on #2
Okay I'll look into it when I have a longer time, keep up the good work @juancuiule !

[2017-10-09 21:24] wildan3105 opened #5 "Special behavior on `null` programming language"
**Current behavior:**
Currently, github API only provide `null` value from an unknown language of repository. It's not fancy at all to display.

**Expected behavior:**
Change `null` to `unknown` and make special behavior on `statement` if `null` language has the highest value like : 'Wow, you are a mystery man!', 'Wow, you like the mystery language', etc.

For the statement code, please take a loo

[2017-10-09 21:40] juancuiule commented on #2
I found a way to parse that data, I'll be making a PR in a minute

[2017-10-09 21:49] PREMPRAKASHSINGH commented on #1
![image](https://user-images.githubusercontent.com/14115048/31359885-900d6160-ad69-11e7-99ac-9a1d9698d194.png)

@wildan3105  How does it look? changed footer and search bar

[2017-10-09 21:49] juancuiule commented on #5
I can take a look at this one too

[2017-10-09 21:50] wildan3105 commented on #1
Wow! That's awesome :+1: I really like the search bar. Will try this first :smile:

[2017-10-09 21:51] PREMPRAKASHSINGH commented on #1
cool adding the emojis now. then will make a PR

[2017-10-09 21:52] juancuiule opened #7 "Update process.env variables"
**Current behavior:**
The readme says that you should have a .env file with something like this
[code]
but in `/lib/controllers.js` the code says
[code]

**Expected behavior:**
Should be all caps or lower case in order to match

[2017-10-09 21:53] wildan3105 commented on #7
Ah I missed that one, nice detail!

[2017-10-09 22:11] wildan3105 commented on #7
Solved by [update .env vars to uppercase](https://github.com/wildan3105/github-langs/commit/761bc222cc007a3d690da54504b0a66a8bb7cba3)

[2017-10-09 22:11] #7 closed

[2017-10-09 22:39] wildan3105 opened #9 "UI improvement (2) : remove conflict between elements"
**Current behavior:**
It's so messy. Look at the image below :
![ui](https://user-images.githubusercontent.com/7030099/31361376-4aa2a6bc-ad7d-11e7-9550-189364688bdb.png)

**Expected behavior:**
All elements displayed well. The search bar, fork me button, message, the chart of languages and footer. Well displayed with no conflicts. One last thing : just remove Language(s) that following by the deta

[2017-10-09 23:19] Ceciceciceci commented on #9
I'll try this!
Is it okay to get rid of data-languages tag or is is necessary for it to be there?

[2017-10-09 23:21] juancuiule opened #11 "Create a css file with styles from the head of main.handlebars"
**Current behavior:**
The style of the website is inside a style tag in the head

**Expected behavior:**
It would be better to have it in another file

[2017-10-09 23:22] wildan3105 commented on #9
Good @Ceciceciceci
No, just get rid these element :
[code]
And make the footer not fixed.

[2017-10-09 23:22] juancuiule commented on #11
I'll be taking care of this in a moment

[2017-10-09 23:23] wildan3105 commented on #11
Hei @juancuiule, it would be better if any `inline-style` code in `main.handlebars` separated in external `css` file. Thanks very much!

[2017-10-09 23:25] #2 closed

[2017-10-09 23:36] wildan3105 commented on #5
Closed by #8

[2017-10-09 23:36] #5 closed

[2017-10-09 23:42] Ceciceciceci commented on #9
Oh! I made it so you can still have it, but just not displayed, hope that is okay!
I made a pull request :')

[2017-10-09 23:54] #1 closed

[2017-10-09 23:58] PREMPRAKASHSINGH commented on #11
@juancuiule  let me know if you need any help.

[2017-10-10 00:13] juancuiule commented on #11
Hey @wildan3105 if this issue was solved by someone don't wait for my PR

[2017-10-10 04:36] Ceciceciceci commented on #9
Fixed up the conflict! Thanks.

[2017-10-10 04:59] wildan3105 commented on #9
Okay! Will check it first @Ceciceciceci

[2017-10-10 06:56] wildan3105 opened #15 "Add loading button while fetching the API"
**Current behavior:**
User need to know if the system is working. But right now, there is no sign to display that system is fetching data through API

**Expected behavior:**
Add loading button while fetching the API. Any images are welcome, but I prefer the simple one like [this](https://www.w3schools.com/howto/howto_css_loading_buttons.asp)

[2017-10-10 06:57] wildan3105 commented on #1
Hi @Trommelochse, new issue about responsiveness is open! #15

[2017-10-10 08:14] gkrishnan724 commented on #15
So Basically you would like the search button to change to `Loading` when it is retrieving data?

[2017-10-10 08:17] wildan3105 commented on #15
Not change, but below the `search` bar and button there will be a loading gif/image, showing that the system is retrieving data from API. After fetch is done, the loading gif/image will be hidden, changed by chart. Do you get that? @gkrishnan724.

[2017-10-10 08:51] wildan3105 commented on #11
Okay @juancuiule, it already solved by #13 and #14

[2017-10-10 08:51] #11 closed

[2017-10-10 09:08] wildan3105 opened #16 "Add badge for organization account"
**Current behavior:**
We don't know if the user we search is usual user or organization. Based on the github API, the categorization is divided into `User` and `Organization`. Sample data follows :
[code]
And if the user we search is organization, the value of `type` is `Organization`.

**Expected behavior:**
From the above statement, I'd like to add feature to display a badge for organization. Th

[2017-10-10 09:10] gkrishnan724 commented on #15
Yeah I get it :)

[2017-10-10 10:40] ChrisMcNulty91 commented on #16
Do you have an icon to use for the badge?

[2017-10-10 10:41] azharakbar commented on #15
@wildan3105 Hey, I get it ... I will be working on it ... :)
Isnt it better .. if u convert this into a Single Page Application (SPA) ?

[2017-10-10 10:43] wildan3105 commented on #16
Hi @ChrisMcNulty91, you can see below image :
![verified_badgy](https://user-images.githubusercontent.com/7030099/31382594-689a755e-ade2-11e7-80df-6c77da8d56e0.png)
Do you want to work on this?

[2017-10-10 10:44] wildan3105 commented on #15
Hi @azharakbar, you could submit a PR when you're done. What library do you suggest for SPA? I don't think it's an urgent, but we could discuss about it :ok_hand:

[2017-10-10 10:46] Xenira commented on #16
I could give it a try as well

[2017-10-10 10:47] azharakbar commented on #15
I suggest jquery ... at the simplest .. and fastest way ... :)

[2017-10-10 10:48] wildan3105 commented on #16
Yeah please you guys could work on this and we'll discuss the result :) @ChrisMcNulty91 @Xenira

[2017-10-10 10:49] wildan3105 commented on #15
Thanks for the suggestion @azharakbar, maybe the SPA discussion could be another issue. Right know I'm focusing solve the current issue(s) :+1:
Or you could submit an issue about it if you'd like

[2017-10-10 10:50] ChrisMcNulty91 commented on #16
@wildan3105 Yeah I can take a look at this

[2017-10-10 11:00] azharakbar commented on #15
Ok ... i will be working on this first .. :)

[2017-10-10 11:20] wildan3105 opened #18 "Hide layout chart when a user has no repo"
**Current behavior:**
For the user that has no repo, it display chart only with layout (no value) like this :

![norepo](https://user-images.githubusercontent.com/7030099/31384053-83dbc048-ade7-11e7-9012-190d1b8f4ad4.png)

**Expected behavior:**
Get rid of that chart layout.

[2017-10-10 11:39] ChrisMcNulty91 commented on #16
Before I submit a PR what do you think of this? Should it be smaller? should we place it somewhere else on screen?

![language-checker](https://user-images.githubusercontent.com/3280158/31384703-f265bfd0-adb7-11e7-924b-d07a02442e33.PNG)

[2017-10-10 11:49] wildan3105 commented on #16
Nice! But, could you move the position of the badge to the bottom-right-corner like this one?

![badge copy](https://user-images.githubusercontent.com/7030099/31385027-bcd4c2f6-adeb-11e7-8dda-89f1d6e3af61.png)

And make sure when we `hover` to that badge, it will display the name of organization :ok_hand:

[2017-10-10 12:46] shalithasuranga commented on #18
I like to work with this issue

[2017-10-10 12:47] wildan3105 commented on #18
Sure! @shalithasuranga. It's all yours. Mention me if you need anything :ok_hand:

[2017-10-10 12:55] metamaker commented on #18
:(  I already modified code for it, just was doing some cleaning up. @shalithasuranga  may you pick something different?

[2017-10-10 12:59] wildan3105 commented on #18
Do you guys want to share the screenshot of your update please? @shalithasuranga @metamaker

[2017-10-10 13:00] metamaker commented on #18
@wildan3105 ok

[2017-10-10 13:04] wildan3105 commented on #18
**UPDATE** It would be a way better if we could make an object like this :
[code]
And based on #17, we should ignore the `showLanguage` because it's not relevant (replaced by chart.js)

[2017-10-10 13:13] metamaker commented on #18
![screen shot 2017-10-10 at 15 13 03](https://user-images.githubusercontent.com/5102404/31388206-9536eabc-adcd-11e7-97d7-118ba7d7699d.png)

[2017-10-10 13:14] shalithasuranga commented on #18
Hi..

Okay no worries @metamaker

@wildan3105  Here is the screenshot

![image](https://user-images.githubusercontent.com/18402702/31388192-e1763fbe-adea-11e7-996b-c59ae0ad4463.png)

I used `<div style="display:{{showChart}}" id="canvas-container"` similar to existing things

[2017-10-10 13:16] metamaker commented on #18
https://github.com/metamaker/github-langs/commit/62e6f758cad92640248f87fdbed484f85bb25b51

But I want to clean it up a bit more before making PR. You have callbacks hell here (http://callbackhell.com/).

[2017-10-10 13:17] shalithasuranga commented on #18
Here what I modified https://github.com/wildan3105/github-langs/compare/master...shalithasuranga:norepoissue?expand=1

[2017-10-10 13:18] metamaker commented on #18
Yep, it was displayed above :)

[2017-10-10 13:18] wildan3105 commented on #18
Thanks everyone !
Does anybody want to implement my suggestion below ?

result:none,
chart:none,
emoji:none
}

@metamaker I'm aware of the callbackhell. You could submit an issue an propose a solution if you have one :)

[2017-10-10 13:19] metamaker commented on #18
will do

You use babel, so you have async/await combo. I can refactor it pretty quickly.

[2017-10-10 13:21] wildan3105 commented on #18
@metamaker If you don't mind, you could refactor it using async/await or promise and submit a PR about it. I will wait!

[2017-10-10 14:15] metamaker opened #22 "Avoid callback hell / refactor the controllers"
**Current behavior:**
It is impossible to use all ES2017 features for this project at the moment. For example, it is impossible to use async/await combo (https://hackernoon.com/6-reasons-why-javascripts-async-await-blows-promises-away-tutorial-c7ec10518dd9) to deal with callback hell problem in `controller.js`.

**Expected behavior:**
As developer, I want to develop project in most efficient and b

[2017-10-10 14:26] Xenira commented on #22
What about typescript and setting the target to whatever ES version you need?

[2017-10-10 14:39] metamaker commented on #22
I am not maintainer, just proposing useful change.

Typescript is also good, but JS only a subset of it. Babel-compliant code is real Javascript. So both will work, but from my experience with TypeScript and Babel, I would recommend Babel. It is less buggy and confusing.

[2017-10-10 14:43] Xenira commented on #22
Sadly I have no experience with Babel. Max I could do is TS.

[2017-10-10 14:50] metamaker opened #23 "Add screenshot testing"
**Current behavior:**
It is nearly impossible to test this application by using conventional tools, because it is 95% GUI, so there are no tests at all. There is such tool as https://github.com/Huddle/PhantomCSS that could be used for screenshot testing, which will help make this project stable.

**Expected behavior:**
It would be easy to check screenshots for anomalies (e.g. missing labels or wro

[2017-10-10 15:03] wildan3105 commented on #23
Thanks for the issue. Could you elaborate more about the screenshot testing? What objects to be tested, what result expected?

[2017-10-10 15:13] metamaker commented on #23
@wildan3105 If you check https://github.com/wildan3105/github-langs/pull/17, you will see that benjaminr177 wrote "Oh, my bad - forgot to test on main page.". If you had screenshot testing, you would expect that new screenshot of homepage would be the same as old screenshot, and this would prevent an issue with homepage immediately.

Screenshots are tested against other screenshots on pixel by pix

[2017-10-10 15:15] metamaker commented on #23
`npm run test` doesn't do any testing at the moment. Linting is just validation for syntax errors. It should be done by every good IDE on fly, so command is no use at the moment.

[2017-10-10 15:24] wildan3105 commented on #23
Okay, I got your point. You could work on this, create a PR, and we can see the results. Please make a list (checklist at this issue / your coming up PR) of cases to be tested and check it if you succeed. I'm very appreciate with your help :+1:

One last thing, should we add `test` at the `root` project for this case?

[2017-10-10 15:27] azharakbar commented on #15
@wildan3105 Hey, I have added the PR ... pls look into it .. :)

[2017-10-10 15:29] metamaker commented on #23
I will add list here a bit later :+1:

Yes, I will create `/tests` folder in PR, because there must be JS file with test suite.

[2017-10-10 15:41] wildan3105 commented on #22
Sorry for the late reply. Actually, this project was inspired by [hacktoberfest-checker](https://github.com/jenkoian/hacktoberfest-checker). So, if you look at the project structure, it's not much different. At the beginning, I tried to use `axios` as promise-based HTTP calls library, but somehow I can't get it done. So, before use Babel (which I'm not familiar with), could we use promised-based H

[2017-10-10 15:42] wildan3105 commented on #23
Okay, it's all yours then @metamaker !

[2017-10-10 16:19] metamaker commented on #23
[ ] Homepage
[ ] Profile page (with username of non existing user)
[ ] Profile page (with username of user who has 0 repos)
[ ] Profile page (with username of user who has >0 repos)

This should cover 95% of cases. I don't see much sense in testing `Profile page (with username of user who has >0 repos)` when user has 9 repos, 19 repos, etc. at the moment (i.e. on emoji breaking points), because us

[2017-10-10 16:44] wildan3105 commented on #18
Thank you guys :) @shalithasuranga @metamaker. Closed by #21

@shalithasuranga If you want to contribute at anything, feel free to open an issue :)

[2017-10-10 16:44] #18 closed

[2017-10-11 07:16] wildan3105 opened #25 "Run the app within Docker"
**Current behavior:**
As you know, this app (so far) could be run only with the npm.

**Expected behavior:**
Since containerization is a trend now, an alternative to run the app within Docker is really good. So, feel free to configure this app to run within Docker and update the `README.md` based on that.

[2017-10-11 07:40] uLan08 commented on #25
I'll work on this :whale:

[2017-10-11 07:43] wildan3105 commented on #25
Okay, go on! @uLan08

[2017-10-11 08:41] metamaker commented on #22
I am working on https://github.com/wildan3105/github-langs/issues/23, hope that somebody else can help with this issue. As about axios/bluebird support, I used both and they are both good, so adding any of them will be okay.

[2017-10-11 08:45] wildan3105 commented on #22
Alright :ok_hand: @metamaker

[2017-10-11 08:54] wildan3105 commented on #25
Closed by #26

[2017-10-11 08:54] #25 closed

[2017-10-11 09:46] uLan08 commented on #22
I am able to run the project on node 8.4.0. The Docker base image I created for this project is on node 8.5

[2017-10-11 09:47] wildan3105 commented on #22
What do you mean @uLan08 ? Is your statement related to this issue?

[2017-10-11 09:49] uLan08 commented on #22
Ah yes, since @metamaker was also suggesting to require Node.js >= 7.6 and so I was giving feedback that so far it works with latest versions of Node. With that we could skip babel and just require a certain version of Node for `async/await` to work.

[2017-10-11 09:53] metamaker commented on #22
There is no problem with running project on Node >= 7.3, the problem would be running it on Node <= 7.6 if I changed callbacks to async/await. But you are right, if we have docker image, it is now easier to rely on anything that we need.

[2017-10-11 10:00] uLan08 commented on #22
Yes, then it just needs to be decided on which path to choose. Require Node versions >= 7.6 or add babel to the project.

[2017-10-11 10:05] wildan3105 commented on #22
I would open to either options, as long as it solve issue.

[2017-10-11 10:21] metamaker commented on #22
Let's pick NodeJS >= 7.6 path, because it is as easy as single apt-get command atm. Babel path requires more work. Also I see that we already have node 8.5 in docker, so let's stick with it.

[2017-10-11 13:18] wildan3105 commented on #9
Closed by #27

[2017-10-11 13:18] #9 closed

[2017-10-11 13:29] wildan3105 opened #28 "Fix footer position"
**Current behavior:**
When homepage rendered, the footer position is good, like this :
![current0](https://user-images.githubusercontent.com/7030099/31443092-a3c0cc6a-aec2-11e7-8dd5-d4a47de857db.png)

But when search is done, the footer covered the chart horizontal axis title like this :

![current2](https://user-images.githubusercontent.com/7030099/31443127-be25a9b8-aec2-11e7-9e1c-60a872e4f724.pn

[2017-10-11 13:42] ccalamos commented on #28
I can work on this

[2017-10-11 13:52] #28 closed

[2017-10-11 15:14] IOAyman opened #32 "Fix CI test"
**Current behavior:**
The current CI test script is passing **at all times**, even if it should not.

**Expected behavior:**
The CI test should fail if there are code style violations.

The [current][0] test command is trying to auto-fix any errors. So it will *not* report anything in most cases.
[code]

[0]: https://github.com/wildan3105/github-langs/blob/e17dfde158098716a4413860a0dcf186c0d0c8a8/

[2017-10-11 15:33] #32 closed

[2017-10-11 15:35] IOAyman opened #33 "[UI] Some language names are not showing in the chart"
**Current behavior:**
Some language names are not showing under their respective bars in the chart.
However, when I hover on the bars, the tooltip show the language name normally.

**Expected behavior:**
They should be displayed below the bars as well.

![screenshot-2017-10-11 github language checker](https://user-images.githubusercontent.com/6185849/31450313-67fa24ce-aea9-11e7-848e-e8b5d33fd3be.p

[2017-10-11 16:03] wildan3105 commented on #33
I'm aware of this. I thought this bug was from `chart.js`? Let's discuss it here

[2017-10-11 16:58] wildan3105 commented on #33
Found an issue about it [chartjs](https://github.com/chartjs/Chart.js/issues/2801)

[2017-10-11 17:47] wildan3105 opened #34 "Restructure the views"
**Current behavior:**
Right now, the whole `views` (except some js files) handled by `views/layouts/main.handlebars`. It would be good to separate the `header, footer, and body` for the sake of maintainability.

**Expected behavior:**
Separate the `views` based on function to display. My thoughts are we could separated into `header footer, and body`. Also, I do not see the `views/index.handlebars`

[2017-10-11 18:36] IOAyman opened #36 "Improve the 404 page design"
**Current behavior:**
The current 404 page looks ugly. Really ugly!

**Expected behavior:**
If somebody takes the time to make it look better, that would be appreciated 😄

[2017-10-11 18:54] juancuiule commented on #33
@wildan3105 when I added the chart I realized that this was happening and made some css rules in order to make the graph responsive, we could try by showing the language tag when the bar is `:hover`. I can take a look at this later today, but if @IOAyman wants to take it that's :+1:

[2017-10-11 19:04] azharakbar commented on #15
@wildan3105 Hi, I have raised the new PR ... :)

[2017-10-11 19:23] IOAyman commented on #33
@juancuiule, Please do, I don't mind at all 😉

Thank you :)

[2017-10-11 19:33] juancuiule commented on #33
Google screenshot:
![screenshot from 2017-10-11 16 27 34](https://user-images.githubusercontent.com/12143451/31461976-705f011e-aea1-11e7-9829-2c8973445291.png)

Regular Human screenshot:
![screenshot from 2017-10-11 16 27 49](https://user-images.githubusercontent.com/12143451/31461977-708b0336-aea1-11e7-867c-ca6641d835e3.png)

I found that we could rotate the xAxis labels 90° an they will fit if w

[2017-10-11 19:37] wildan3105 commented on #33
I think we should limit the display of chart when a user has more than `n` repo language to fit the screen. My thought is the screen should remain constant, and the width must not exceed too far from the width of `search bar`.

[2017-10-11 20:09] wildan3105 commented on #15
Closed by #37

[2017-10-11 20:09] #15 closed

[2017-10-11 20:15] juancuiule commented on #33
how many languages are you thinking?

[2017-10-11 20:19] wildan3105 commented on #33
As long as it not exceed the `screen bar`'s width too much, that would be okay. I could see that `chart.js` has a relative size for single vertical bar based on the data length, right? Maybe we could do trial-error (with different user's repo amount) to count how many languages are best to display.

[2017-10-11 22:34] juancuiule commented on #33
I think that 20 is a good number, and I think that we could add a few features in order to allow the user to see more than 20, or just to sum every other language in a bar that says "Others"

[2017-10-12 02:37] juancuiule commented on #22
Hey! Who is working in this?

[2017-10-12 07:14] IOAyman opened #39 "Make the chart clickable"
**Current behavior:**
Currently, hovering over bars in the chart shows a tooltip with the name of the corresponding language and the number of its repos.

**Suggested behavior:**
Can we make the bars clickable?  Whenever a bar is clicked it opens up the user's profile filtering only the repos for that specific language.

For instance, if I click on the JavaScript bar in my [profile] I would be red

[2017-10-12 07:37] wildan3105 commented on #39
That would be good :+1: But consider todo list I just updated at `README.md` :smile: and check the 7th point :ok_hand:

[2017-10-12 07:50] wildan3105 commented on #34
Closed by #35 and go to [#36](https://github.com/wildan3105/github-langs/issues/36) for the next improvement!

[2017-10-12 07:50] #34 closed

[2017-10-12 07:59] wildan3105 commented on #22
Up to you guys @metamaker @Xenira @juancuiule ! But this issue is **urgent** and **strategic**, so it will be a burden to another issue(s) unless this issue is fixed first. Thank yo :)

[2017-10-12 08:03] wildan3105 commented on #36
Screenshot of current 404 page :

![404](https://user-images.githubusercontent.com/7030099/31485478-2fdad8ee-af5e-11e7-9348-348dda1b8a76.JPG)

Anyone who'd like to contribute might consider this checklist :

- [ ]  Make the text all `white` and more center (move it down)
- [ ] Add `back to homepage` link
- [ ] Add footer

[2017-10-12 09:39] wildan3105 opened #40 "Double avatar and problem on hover vertical bar with user's language > 20"
**Current behavior:**
![bug](https://user-images.githubusercontent.com/7030099/31489721-cedad680-af6b-11e7-9633-b602a8d55595.JPG)

**Expected behavior:**
Only show single avatar and better handling on hover vertical bar of user that has more languages > 20, move the footer position back at the bottom-center and title page didn't work

[2017-10-12 09:50] juancuiule commented on #40
This may have something to do with previous merges from other issues...

[2017-10-12 09:51] wildan3105 commented on #40
Okay I'll check it first. Sorry @juancuiule

[2017-10-12 09:52] juancuiule commented on #22
I'll try to help with this, probably using async/await

[2017-10-12 10:01] juancuiule commented on #40
I know why this is happening...

[2017-10-12 10:08] wildan3105 commented on #40
Hi @juancuiule, I already solved! I revert just before merge PR about #35
Will push ASAP

[2017-10-12 10:21] wildan3105 commented on #40
I was fixing the problem until I thought your solution was better so I just merged it :smile: :+1: @juancuiule
Thank you so much for all the PRs! Maybe you'd like to be an active contributors for this project :wink:

[2017-10-12 10:22] wildan3105 commented on #40
Closed by #41

[2017-10-12 10:23] slavabez commented on #36
I'm on it

[2017-10-12 10:29] wildan3105 commented on #36
Add 404 image like this [404](https://www.google.co.id/search?biw=1235&bih=686&tbm=isch&sa=1&btnG=Search&q=404+image) would be good too :+1:

[2017-10-12 10:38] #40 closed

[2017-10-12 11:04] wildan3105 commented on #33
Closed by #41

[2017-10-12 11:04] #33 closed

[2017-10-12 11:29] wildan3105 commented on #36
Closed by #42

[2017-10-12 11:29] #36 closed

[2017-10-12 12:38] wildan3105 opened #43 "Modify search result"
**Current behavior:**
Results are shown like this :
![current2](https://user-images.githubusercontent.com/7030099/31496193-913e572a-af84-11e7-82bf-0ffc471be5c3.png)

**Expected behavior:**
It would be good to show the amount of unique language(s) accross repo(s) of github's account. I made a simple sketch of it :

![new](https://user-images.githubusercontent.com/7030099/31496256-ea24597a-af84-11e7

[2017-10-12 12:44] lakk1 commented on #43
I will work on it

[2017-10-12 17:11] wildan3105 opened #44 "Mobile responsive"
**Current behavior:**
Some elements were overlapped if accessed from a smartphone, picture below :

![mobile](https://user-images.githubusercontent.com/7030099/31509198-dff20de6-afaa-11e7-8139-8c5dbabb605b.jpg)

**Expected behavior:**
**Fork me** button should not overlap with the header, and footer displayed full

[2017-10-12 17:30] Trommelochse commented on #44
can take that

[2017-10-12 17:34] wildan3105 commented on #44
Go on @Trommelochse !

[2017-10-12 17:49] udithishara commented on #44
aw, Sorry @Trommelochse i didn't see your comment when i pulled 😕

[2017-10-12 17:50] wildan3105 commented on #44
Hi guys @Trommelochse @udithishara, thanks for the quick responses! I'll see the result of yours first, particularly will wait the PR from @Trommelochse :)

[2017-10-12 18:43] wildan3105 commented on #22
Solved elegantly by @juancuiule in #46 !

[2017-10-12 18:43] #22 closed

[2017-10-13 06:05] wildan3105 commented on #16
Closed by #20

[2017-10-13 06:05] #16 closed

[2017-10-13 06:07] wildan3105 commented on #43
Hi @lakk1, are you still working on this? Please tell me if you need anything :ok_hand:

[2017-10-13 06:55] lakk1 commented on #43
Yes @wildan3105 I am

[2017-10-13 07:56] wildan3105 opened #48 "Add social share (twitter and facebook)"
**Current behavior:**
There is no external action after user knew their language statistics.

**Expected behavior:**
User could share their language statistics result through facebook and twitter.

**Steps to reproduce:**
Make a new js file, placed in `lib/public/js` and add share and tweet button in `views/partials/body`.

[2017-10-13 08:00] sandipmavani commented on #48
what information share
such as link or graph snapshot
on twitter or facebook

[2017-10-13 08:11] wildan3105 commented on #48
Link to the result page, e.g : [here](https://githublangs.herokuapp.com/?username=sandipmavani)
And the information is the message shown in the result page, like : 'Keep going on JavaScript'
Both applied on twitter and facebook. Do you get that @sandipmavani ?

[2017-10-13 08:48] uLan08 commented on #48
@wildan3105 I was working on this before this issue was posted. I have added a PR #49

[2017-10-13 08:56] wildan3105 commented on #48
Let us see both result of you guys @sandipmavani @uLan08 :)

[2017-10-13 09:08] lakk1 commented on #43
I can't push changes to repo @wildan3105

[2017-10-13 09:08] wildan3105 opened #50 "Help with axios proxy configuration"
**Current behavior:**
This is typically my own-local-machine/network problem. I can't set up a correct proxy configuration in order to get `axios` works. This is my code to run `axios` behind proxy (still not working) :
[code]
So I always got `err` result instead of `res`.

**Expected behavior:**
I would very appreciate someone help me out about this, or reference same/related issue from external

[2017-10-13 09:09] wildan3105 commented on #43
Sorry @lakk1, since so many PRs were merged, you should `pull` it first or `git rebase`

[2017-10-13 09:52] lakk1 commented on #43
@wildan3105  I have done rebase but still facing error : 403

[2017-10-13 09:55] wildan3105 commented on #43
I thought you only edited the `views/layout/main.handlebars`, right? So right now you must edit the `views/partials/body.handlebars` since previous PRs re-structure the `views` directory

[2017-10-13 09:55] wildan3105 commented on #43
And right now we use `axios` as promised-based HTTP call

[2017-10-13 09:58] lakk1 commented on #43
I have edited `views/partials/body.handlebars` and `views/partials/body.handlebars`

[2017-10-13 10:01] wildan3105 commented on #43
You should make a PR so I could give you a help/hint about the problem

[2017-10-13 12:17] danielschleindlsperger commented on #50
Hey,

`proxy` is actually a key in the `options` object you pass to axios.

With a free proxy this worked for me:

[code]

If that doesn't work it might be an issue with https.

[2017-10-13 12:36] danielschleindlsperger commented on #50
Hey I got cold feet and deleted my answer 😅 , here's my changed code:

With a free proxy this is working for me:

[code]

Note that `proxy` is the key of a config object passed to axios.

Apparently axios is having some problems with this right now (referenced here: https://github.com/axios/axios/issues/925).
[One comment](https://github.com/axios/axios/issues/925#issuecomment-332019447) says to u

[2017-10-13 12:38] wildan3105 commented on #50
Haha it's okay @danielschleindlsperger
Ah I see, thanks again ! :+1:

[2017-10-14 04:30] wildan3105 opened #56 "Fix CSS issue"
**Current behavior:**
Because of previouse PRs, the screen now seems not very good, especially near the `forkme` button. Take a look at this :

![css](https://user-images.githubusercontent.com/7030099/31572535-d0c99b08-b0d2-11e7-8efd-9deb26ac595f.png)

**Expected behavior:**
Vertical scrollbar is okay, but help me fix the issue with `forkme` button so it will be at top-right and there is no space

[2017-10-14 04:43] #56 closed

[2017-10-14 04:50] wildan3105 opened #58 "Fix badge position, modify search result, and css issue(s)"
**Current behavior:**
Related to this [#43](https://github.com/wildan3105/github-langs/issues/43), also please change the position of badge of organization's account, because the current conditions is :

![badge](https://user-images.githubusercontent.com/7030099/31572683-956144f0-b0d5-11e7-9bcc-95f386419868.png)

**Expected behavior:**
The expected result of badge position is :

![badge copy](http

[2017-10-14 05:02] sagarvd01 commented on #58
I'll take a look at it

[2017-10-14 05:32] #50 closed

[2017-10-14 07:46] WarEnek commented on #58
Pls check badge position.

[2017-10-14 08:05] wildan3105 commented on #58
UPDATE : Badge position already solved by @WarEnek, the rest is yours @sagarvd01 :+1:

[2017-10-14 08:08] wildan3105 commented on #44
Solved by @udithishara

[2017-10-14 08:09] wildan3105 commented on #44
Reopen because badge position not responsive when accessed via mobile :

![badge](https://user-images.githubusercontent.com/7030099/31574067-ae0d6e86-b0f1-11e7-8427-c62b79f0cce3.png)

[2017-10-14 09:37] wildan3105 opened #60 "Toggle vertical bar graph color"
**Current behavior:**
Currently, the graph shown with a single color like this :

![color](https://user-images.githubusercontent.com/7030099/31574608-6fca0286-b0fd-11e7-9b30-82e768904102.JPG)

**Expected behavior:**
A `toggle button` positioned next to graph would be nice to switch the vertical bar color from white to colorful based on language. I still have no idea how to put color for each langu

[2017-10-14 11:08] iamham commented on #60
Let me help 💃

[2017-10-14 12:42] wildan3105 commented on #60
Hi @iamham, thanks for the work! But sometimes when I hover to the `single bar`, eventually the all bar changed to `white`, any idea about this?

[2017-10-14 13:38] iamham commented on #60
yeah just saw that, please see #62 for the fix :D @wildan3105

[2017-10-14 13:42] wildan3105 commented on #60
Perfect fix! @iamham :+1: Thank you so much :100:

[2017-10-14 13:46] #60 closed

[2017-10-14 15:09] wildan3105 commented on #23
Thanks ! @metamaker Closed by #52

[2017-10-14 15:09] #23 closed

[2017-10-14 17:38] wildan3105 opened #64 "Beautify toggle color button"
**Current behavior:**
This is the latest view if we search for username's repo :

![screenshot4](https://user-images.githubusercontent.com/7030099/31577862-4f4d8c42-b140-11e7-8900-e319a468ee5f.png)

**Expected behavior:**
Like a normally switch `button`, it should show the condition like ON/OFF. So it would be better to change the style of the `button` and when it pressed, it will change the text

[2017-10-14 17:42] jakezaleski commented on #64
I'd love to help! Would you please clarify exactly what you want?

[2017-10-14 17:45] wildan3105 commented on #64
I want the existing `toggle button` to be the ones in **expected behavior** issue above. So when it pressed, it would change the text in the button to `WHITE` and when it's not pressed, change the text to `COLORFUL`, do you get that? @jakezaleski

[2017-10-14 17:52] roh777 commented on #64
I understand your problem but this would require some changes to your chart.js file too. How do we know that button is in clicked(colored) state vs inactive(white) stage.

I think a boolean colored variable will help, in your case it's SingleColor variable. Using it we can change the background of the button for different states.

Should I work on this approach? Or do you want to do this some othe

[2017-10-14 18:02] wildan3105 commented on #64
I know your point @roh777. A boolean toggle then would be good too :+1: You could work on this and see what solution from @jakezaleski :)

[2017-10-14 19:09] masquel opened #66 "Error on hover unknown bar"
**Current behavior:**
Hover over `unknown` bar throws error

**Expected behavior:**
Show stats for unknown languages

**Steps to reproduce:**

1. Visit https://githublangs.herokuapp.com/?username=masquel
2. hover over `unknown` chart bar
3. open console. There will be error.

[code]

[2017-10-14 19:12] wildan3105 commented on #66
Hi, thanks for open the issue @masquel ! Do you want to solve it by yourself or just let me do it? If you want it, I could give a `hacktoberfest` label anyway :+1: :smile:

[2017-10-14 19:36] masquel commented on #66
@wildan3105 ok, I will try to find out what causes this problem.

[2017-10-14 19:36] #39 closed

[2017-10-14 19:37] wildan3105 commented on #66
Okay @masquel :ok_hand:

[2017-10-14 20:21] masquel commented on #66
@wildan3105 this was because of null color. Now when you click on `unknown` bar, github will show all languages because of there is no 'other' or smth like this in guthub languages list

[2017-10-14 20:57] jakezaleski commented on #64
What about a simple if and else if statement? Something like [this](https://stackoverflow.com/questions/15400421/change-button-text-after-click-then-change-it-back-after-clicking-again)?

[2017-10-14 21:01] jakezaleski commented on #64
Actually, I think @roh777 's solution works well. He wins :)

[2017-10-15 03:02] wildan3105 commented on #64
Okay @jakezaleski :) Thanks

[2017-10-15 03:02] #66 closed

[2017-10-15 03:17] wildan3105 opened #68 "Beautify the buttons"
**Current behavior:**
Because of many PRs merged but style not concerned, the buttons look like not fancy like this :

![buttons](https://user-images.githubusercontent.com/7030099/31581272-d01412f0-b191-11e7-8d9a-8e1f9c11d77e.JPG)

**Expected behavior:**
Make button `toggle` and `save` side by side, adding an icon for each button with standard `bootstrap` would be good :) Make sure the elements wo

[2017-10-15 03:20] rowhitswami commented on #68
I'd like to take this one :blush:

[2017-10-15 03:22] wildan3105 commented on #68
Please make sure you test with every use case !
- [ ] user not found
- [ ] user has no repo
- [ ] user has several repos
- [ ] user is an organization

Thanks!

[2017-10-15 04:01] wildan3105 commented on #68
@rowhitswami please refer to the latest `master branch` since previous PR has been merged a few seconds ago :+1:

[2017-10-15 16:09] roh777 commented on #68
I would like to give this one a try! Alright?

[2017-10-15 16:12] wildan3105 commented on #68
Alright, give it a shot @roh77!

[2017-10-15 16:13] wildan3105 commented on #68
@roh777 I mean, sorry I access github via mobile right now :smile:

[2017-10-15 19:29] masquel commented on #44
@wildan3105 also footer should be fixed and add some space from bottom to see content that under footer

![image](https://user-images.githubusercontent.com/6623392/31588277-32587350-b1f8-11e7-962f-2b927f205a6c.png)

[2017-10-16 07:22] wildan3105 commented on #64
Closed by #68

[2017-10-16 07:22] #64 closed

[2017-10-16 07:23] wildan3105 commented on #44
Okay @masquel, maybe mobile responsive improvement will be the last step after all the buttons are applied.

[2017-10-16 13:31] wildan3105 commented on #43
Are you still working on this or not? @lakk1 If not, I'll solve this problem by myself. Thank you

[2017-10-16 18:44] Leocardoso94 opened #70 "Save chart as in image is without file name"
**Current behavior:**

Saving the chart as an image is without a filename and an extension
![image](https://user-images.githubusercontent.com/12713314/31628979-ff692342-b290-11e7-87ae-a6627c7c6a7b.png)

**Expected behavior:**
A file with the extension .jpg

**Steps to reproduce:**

Search some user and save image

Fixed it in #71

[2017-10-16 19:03] Leocardoso94 opened #72 "Getting error message when Toggle color of Chart"
**Current behavior:**
Getting error message when Toggle color of Chart
![gif](https://user-images.githubusercontent.com/12713314/31630303-fa86838e-b294-11e7-9270-6eb0e2f755cb.gif)

**Expected behavior:**
No error message

**Steps to reproduce:**
Toggle color of the chart

Fixed it in #71

[2017-10-17 06:30] wildan3105 commented on #72
Hi @Leocardoso94 thanks for the issue(s) and PRs! I'll review it first :+1:

[2017-10-17 06:44] wildan3105 commented on #48
Closed by #49

[2017-10-17 06:44] #48 closed

[2017-10-17 11:03] wildan3105 commented on #70
Closed by #71

[2017-10-17 11:03] #70 closed

[2017-10-17 11:03] wildan3105 commented on #72
Closed by #71

[2017-10-17 11:03] #72 closed

[2017-10-17 11:03] wildan3105 commented on #68
Closed by #69

[2017-10-17 11:03] #68 closed

[2017-10-17 16:08] lakk1 commented on #43
Sorry,  @wildan3105 I was busy in other work I am not working on it.

[2017-10-18 10:55] wildan3105 commented on #43
:ok_hand: @lakk1

[2017-10-18 12:45] wildan3105 commented on #58
Are you still working on this ? @sagarvd01

[2017-10-18 12:45] #43 closed

[2017-10-18 12:53] wildan3105 opened #73 "Improve UI (any improvements welcome!)"
**Current behavior:**
So far it's quite good for a search-based website. The results shown in a graph, then could be saved in a `jpeg` file.

![screenshot5](https://user-images.githubusercontent.com/7030099/31719523-f567b558-b43d-11e7-8d1b-999cf2c551a2.png)

**Expected behavior:**
But the research is never done. Any improvements welcome ! Let's discuss here first to see what would be the next UI i

[2017-10-18 14:17] acolombo25 commented on #73
Use a nicer color palette for graph bars. An example could be found here: [material-design](https://material.io/guidelines/style/color.html#color-color-palette), but there are many others ones,

[2017-10-18 14:37] wildan3105 commented on #73
Hmm that one would be good too :+1: @acolombo25. But could you suggest another improvement?

[2017-10-18 14:56] roh777 commented on #73
There is still problem with the verified badge, the profile image shrinks in size, but the blue tick badge remains the same for smaller screen sizes or on mobile.

[2017-10-18 14:58] wildan3105 commented on #73
Yes I'm aware of that @roh777, could you resolve that? :smile:

[2017-10-18 15:03] roh777 commented on #73
I will look it up to see if I can do this.

[2017-10-19 08:26] sagarvd01 commented on #58
I saw a merged on this issue so I moved on already. I didn't saw your previous comment either

[2017-10-20 09:09] Klubiniecki commented on #73
Hey @wildan3105 !
I like clean, minimalist design. Will give it a go, let's see if you like my re-design :)
Loving the project btw.
Cheers!

[2017-10-20 11:19] wildan3105 commented on #73
Hi @Klubiniecki, thanks for the reply! I'd like to apply your change, but maybe we could `switch` theme instead replace the old one? Wait for your PR :+1:

[2017-10-20 11:34] Klubiniecki commented on #73
Thanks for a quick answer @wildan3105, you mean adding a "switch theme" button? :)

[2017-10-20 11:43] wildan3105 commented on #73
Yes, that's right @Klubiniecki

[2017-10-20 11:46] Klubiniecki commented on #73
Perfect, let me see how to go about it and maybe will make it a few PR's even 👌

[2017-10-20 13:00] Klubiniecki commented on #73
@wildan3105 I fired you an email, let me know what you think ✉️

[2017-10-21 06:09] wildan3105 opened #76 "Convert some js file to use ES6 standards"
**Current behavior:**
There are many `js` file in this project. The ones that follow the ES6 standards and `eslint` are in the `lib` directory (`app.js` and `controller.js`), but some files in `lib/public/js` are not following those rules.

**Expected behavior:**
Convert the code style in `lib/public/js` directory to use ES6 standards and test it with `eslint` style which defined in `.eslintrc.jso

[2017-10-21 06:29] kennyhuynh125 commented on #76
I can try and handle this!

[2017-10-21 08:31] klubiniecki opened #80 "UI - Dark theme re-design"
**Current behavior:**
Site looks great, but as always some UI improvements can be done.

**Expected behavior:**
Clean, functional UI.

[2017-10-21 08:32] wildan3105 commented on #80
Thanks! @Klubiniecki You could share the screenshot of the dark theme UI here :+1: :ok_hand:

[2017-10-25 11:45] wildan3105 commented on #76
Closed by #79

[2017-10-25 11:45] #76 closed

[2018-05-31 15:58] eliassjogreen opened #84 "Languages containing non url friendly characters"
**Current behavior:**
The bug happens when you click the link in the bar graph to a language that uses non url friendly characters such as `#` in the language `c#`. This makes the link to the repos page of the user incorrect and not showing any of the repos that actually use that language.

**Expected behavior:**
Without the bug the link to the list of repos would be correct and use the right url

[2018-06-02 15:07] wildan3105 commented on #84
Hi @eliassjogreen, thanks for the issue! I'll be very happy if you'd like to open a PR regarding this issue since at this time I don't have much time for this project. Thank you 👍

[2018-10-07 09:54] wildan3105 opened #86 "Update npm package to the latest/stable version"
**Current behavior:**
Some npm package is no longer maintained or stable.

**Expected behavior:**
Update npm package to the latest/stable version so it won't be vulnerable.

**Steps to reproduce:**
See `package.json` file.

[2018-10-07 10:02] slavabez commented on #86
I'll have a go at this, I'll use npm's audit functionality

[2018-10-07 10:19] slavabez commented on #86
Oh, my bad, didn't notice it was already self-assigned

[2018-10-08 02:37] wildan3105 commented on #86
Haha sorry @slavabez, if you'd like to contribute (again) in this project, you can create another issue or suggest an idea to improve this project. Thank you! 👍

[2018-10-08 02:50] wildan3105 commented on #44
Closed because this issue is no longer relevant.

[2018-10-08 02:50] #44 closed

[2018-10-08 02:57] #73 closed

[2018-10-09 02:37] wildan3105 commented on #84
Fixed by https://github.com/wildan3105/github-langs/commit/560c5abbc98702a7964d4cea2744758403482304

[2018-10-09 02:37] #84 closed

[2018-10-10 02:53] wildan3105 opened #92 "Modify footer"
**Current behavior:**
Footer : DISCLAIMER : THIS SITE IS A FAN MADE AND NOT AFFILIATED WITH GITHUB.

**Expected behavior:**
Include copyright & year and disclaimer

**Steps to reproduce:**
Check on the website.

[2018-10-10 02:56] wildan3105 opened #93 "Fix position of badge & emoticon on result"
**Current behavior:**
When displaying result from organization, emoticons & badge are overposition each other.
![github-langs-result](https://user-images.githubusercontent.com/7030099/46710570-a1f00580-cc72-11e8-84fe-3e1133598504.PNG)

**Expected behavior:**
Dynamic position : when displaying result from personal account & organization account so the badge (if any, for organization only) and emoti

[2018-10-10 03:14] jarretbryan commented on #92
I can grab this if unclaimed

[2018-10-10 03:35] wildan3105 commented on #92
Okay go on @jarretbryan !

[2018-10-10 03:56] joviij commented on #93
I can take a look at this!

[2018-10-10 04:02] wildan3105 commented on #93
Okay @joviij 👍

[2018-10-10 04:35] wildan3105 opened #96 "Add current account & type in site title"
**Current behavior:**
Site is **Github Language Checker**

**Expected behavior:**
Show current account & type in site title. Example : **Github Language Checker | Github - Organization **

**Steps to reproduce:**
Check on the website, search for some account(s)

[2018-10-10 04:41] wildan3105 commented on #92
Thank you for your contribution! @jarretbryan Very appreciated!

[2018-10-10 04:41] #92 closed

[2018-10-10 05:18] chaitanyabaranwal commented on #96
I think I'll try doing this one!

[2018-10-10 05:19] wildan3105 commented on #96
Okay please do your best @chaitanyabaranwal ! 👍

[2018-10-10 05:33] joviij commented on #93
@wildan3105 Hey, have you ever gotten the error: "This site can’t provide a secure connection" whenever you try to connect to localhost:5000?

[2018-10-10 05:43] wildan3105 commented on #93
Opps sorry, I force to serve using https. You could solve this by comment at line 12 of `app.js` :
`app.use(enforce.HTTPS({ trustProtoHeader: true }));`

[2018-10-10 06:00] chaitanyabaranwal commented on #96
@wildan3105 I'm not able to run the website locally. The error shown in browser is "Secure connection failed".

[2018-10-10 06:03] wildan3105 commented on #96
Sorry for this, you could disable the https by commenting line 12 of `app.js` or fetch the latest update of `master` branch. Thank you.

[2018-10-11 02:31] wildan3105 commented on #93
Solved by #97

[2018-10-11 02:31] #93 closed

[2018-10-11 02:37] #58 closed

[2018-10-11 02:38] wildan3105 commented on #80
Hi @klubiniecki, would you like to continue solving this issue? I'm glad if you'd take a look into this. Thanks!

[2018-10-11 03:12] wildan3105 opened #98 "Special behaviour on unknown language"
**Current behavior:**
Unknown language is actually sum up of unknown language & fork repository. But now we only display it as **unknown repository**

**Expected behavior:**
It will be better if we could display it as **Unknown (forked repository)** so other will know that the repository may contain forked repository (not only unknown programming language).

**Steps to reproduce:**
Search for user

[2018-10-13 09:10] chaitanyabaranwal commented on #96
Yup I've made a pull request!

[2018-12-13 21:07] #80 closed

[2019-09-16 10:32] wildan3105 opened #101 "Word 'language stats' disappear when toggling bar graph color"
**Current behavior:**
Inconsistency display of word 'language stats' when toggling bar graph color

**Expected behavior:**
The word 'language stats' should show all the time and with the correct and suitable position.
![gif](https://media.giphy.com/media/duKwFR3uRMNV5JTtq8/giphy.gif)

**Steps to reproduce:**
Check for user, then toggling the bar graph color

[2019-09-26 09:50] wildan3105 opened #112 "Refactor error codes"
**Current behavior:**
Error codes spread in several file & format. No standard error is found.

**Expected behavior:**
Create a dedicated error codes type.

**Steps to reproduce:**
File to watch:
- `lib/app.js` in line 8, should check if `process.env.ENV` is set
- `lib/controller.js` in line 15, should read error types from dedicated file

[2019-09-26 09:55] wildan3105 opened #113 "Refactor emoji & response-statements"
**Current behavior:**
All emojis and response statements are found in `lib/controller.js`. This made the controlloer little bit dirty.

**Expected behavior:**
Create dedicated file to hold all emojis and statements.

[2019-09-26 09:56] wildan3105 opened #114 "Refactor github API root url"
**Current behavior:**
All endpoint urls are defined and called inside `lib/controller.js`.

**Expected behavior:**
It should be stored in a config file.

[2019-09-26 10:58] wildan3105 commented on #114
Contributions are welcome to anybody! Just comment in this issue :)

[2019-09-26 10:58] wildan3105 commented on #113
Contributions are welcome to anybody! Just comment in this issue :)

[2019-09-26 10:58] wildan3105 commented on #112
Contributions are welcome to anybody! Just comment in this issue :)

[2019-09-26 10:59] wildan3105 commented on #101
Contributions are welcome to anybody! Just comment in this issue :)

[2019-09-26 11:06] mkiterian commented on #114
@wildan3105 I picked this up. Looking forward to the review

[2019-09-26 12:15] abhagsain commented on #101
On this issue! 😁

[2019-09-26 12:16] bkstephen commented on #113
I'd like to give this a try

[2019-09-26 12:28] MikeyAlmighty commented on #101
@wildan3105 Created PR :smile:

[2019-09-26 13:39] michjk commented on #112
Hi, I will try to solve this issue.

[2019-09-26 13:49] wildan3105 commented on #114
Hi @mkiterian, thanks for such a quick PR! I'll review the PR first :ok_hand:

[2019-09-26 13:55] wildan3105 commented on #101
Thanks guys! But since @abhagsain commented first, I'd check on your PR first then go to the @MikeyAlmighty's

[2019-09-26 13:56] wildan3105 commented on #112
Hi @michjk. Thanks and I'll wait for your PR!

[2019-09-26 13:57] wildan3105 commented on #113
Hi @bkstephen. Sure thing and I'll wait for your PR!

[2019-09-26 14:39] michjk commented on #112
Hi,

Are the error only limited to the one inside the files to be watched? Or it is include other kind of error like 404, 500, and etc?

[2019-09-26 14:40] wildan3105 commented on #112
For now, it's only the files that I've stated (internal error), exclude http status code @michjk

[2019-09-27 15:28] #101 closed

[2019-09-28 00:09] wildan3105 commented on #114
Closed by #115

[2019-09-28 00:09] #114 closed

[2019-09-29 11:33] wildan3105 commented on #113
Fixed by #120

[2019-09-29 11:33] #113 closed

[2019-09-29 11:34] wildan3105 commented on #112
Hi @michjk, are you still working on this issue?

[2019-09-29 11:43] michjk commented on #112
I create the pull request. You may look if this is the expected solution.

[2019-09-29 11:55] wildan3105 commented on #112
I've commented on your PR. Please kindly check it @michjk

[2019-09-29 14:47] wildan3105 commented on #112
Solved by #118

[2019-09-29 14:47] #112 closed

[2019-10-01 04:17] wildan3105 opened #121 "Naming chart based on username"
**Current behavior:**
Saved chart is named by **chart.jpg**

**Expected behavior:**
It would be better to name the chart based on username

**Steps to reproduce:**
Browse for user, then save/download the chart

[2019-10-01 04:20] wildan3105 commented on #121
Fixed by #122

[2019-10-01 04:20] #121 closed

[2019-10-01 04:29] wildan3105 opened #123 "Show account type on result"
**Current behavior:**
There is no distinction between personal account or organizational account when we browse for user's account.

**Expected behavior:**
It should be show the type of account on result, whether personal / organization

**Steps to reproduce:**
Browse the repos for specific account (not unknown)

[2019-10-01 04:33] wildan3105 commented on #123
Fixed by #124

[2019-10-01 04:33] #123 closed

[2019-10-01 04:50] wildan3105 opened #125 "Make animated toggle color button"
**Current behavior:**
Currnet toggle button is static, which means not animated when switching chart type (colorful  / white).

![](https://media.giphy.com/media/WU0OtANFO30wagnOHL/giphy.gif)

**Expected behavior:**
It would be better to use animated toggle button, example using bootstrap: [bootstrap toggle](http://bootstraptoggle.com) Please also note to pay attention to the size and shape of the

[2019-10-01 05:02] ibokg commented on #125
Can I take up this issue?

[2019-10-01 05:56] wildan3105 commented on #125
Hi @ibokg, yes go on@

[2019-10-02 03:44] wildan3105 commented on #125
Closed by #126

[2019-10-02 03:44] #125 closed

[2019-10-08 04:37] wildan3105 opened #129 "Enrich supportive statements"
**Current behavior:**
Only a few supportive statements

**Expected behavior:**
Should be more to enrich copywritings

**Steps to reproduce:**
Browse for someone's repo

[2019-10-08 04:39] wildan3105 commented on #129
Solved by #130

[2019-10-08 04:39] #129 closed

[2019-10-08 04:46] wildan3105 opened #131 "Create logo for the site based on text"
**Current behavior:**
There's no logo for this site **Github Language Checker**

**Expected behavior:**
It should be good and awesome if we have a nice and simple logo for this project.

**Steps to reproduce:**
This issue is only an initiative. Any suggestions are welcome. Let's discuss!

[2019-10-08 06:12] RaviTejaCMS commented on #131
How about these?
![1](https://user-images.githubusercontent.com/13203149/66371398-a4d62100-e9c0-11e9-8958-b6f38fc53c82.png)

![2](https://user-images.githubusercontent.com/13203149/66371405-a869a800-e9c0-11e9-9b06-27c887ce3b0a.png)

![3](https://user-images.githubusercontent.com/13203149/66371409-aacc0200-e9c0-11e9-87e2-6fa0357187c6.png)

[2019-10-08 06:36] wildan3105 commented on #131
Hi @RaviTejaCMS, thank you for the suggestion! But I personally think it'd be good if we could modify the text **Github Language Checker** instead of using additional image/logo. Example:

![](https://hacktoberfest.digitalocean.com/assets/logo-hf19-header-8245176fe235ab5d942c7580778a914110fa06a23c3d55bf40e2d061809d8785.svg)

or

![](https://i.ibb.co/6rGs3Mj/hacktoberfest-checker.png)

Could you mo

[2019-10-08 07:29] RaviTejaCMS commented on #131
How about these(Just gave it a try🧐)
![1](https://user-images.githubusercontent.com/13203149/66375573-59754000-e9cb-11e9-8e41-bf09bc34c2ba.png)

![2](https://user-images.githubusercontent.com/13203149/66375574-59754000-e9cb-11e9-9963-3e3c7f1196e7.png)

![3](https://user-images.githubusercontent.com/13203149/66375575-5a0dd680-e9cb-11e9-952e-b5a7715a7c60.png)

![5](https://user-images.githubusercont

[2019-10-10 04:42] wildan3105 opened #132 "Update documentation for this year's hacktoberfest"

[2019-10-13 00:28] herdir commented on #131
![image](https://user-images.githubusercontent.com/5861911/66709244-6d6cc900-ed60-11e9-8d78-de35b1628a2a.png)

==========

![image](https://user-images.githubusercontent.com/5861911/66709254-a016c180-ed60-11e9-8b06-c854f0e98d2d.png)

==========

![image](https://user-images.githubusercontent.com/5861911/66709269-dce2b880-ed60-11e9-87c3-74e85064db87.png)

==========

![image](https://user-images.gi

[2020-02-16 00:16] wildan3105 opened #134 "[GitHub API] Deprecation notice for authentication via URL query parameters"
Hi @wildan3105,

On February 13th, 2020 at 13:01 (UTC) your application (langs) used its `client_id` and `client_secret` (with the User-Agent azhsetiawan) as part of a set of query parameters to access an endpoint through the GitHub API:

https://api.github.com/user/3045602

Please use Basic Authentication instead as using OAuth credentials in query parameters has been deprecated and will be remov

[2020-07-19 05:37] wildan3105 opened #136 "Support dual-language"
**Current behavior:**
Only support `English` with no localization

**Expected behavior:**
Support English and Indonesian

**Steps to reproduce:**
Go to the homepage

[2020-07-19 05:49] wildan3105 opened #137 "Add proper test"
**Current behavior:**
Currently, tests are done via `npm run  lint`

**Expected behavior:**
Write test from unit test, integration test, and E2E test to make sure every change is not breaking current behaviour.

**Steps to reproduce:**
https://github.com/wildan3105/github-langs/blob/d81596c4f237c6545d43b4ba70f182cfc2c5bd13/.travis.yml#L8

[2020-10-02 04:03] wildan3105 opened #145 "always updating the css when doing npm start"
**Current behavior:**
When we're doing the `npm start` locally, it makes the following file to be changed `lib/public/css/screen/base.css`

![changes](https://user-images.githubusercontent.com/7030099/94886849-d502b380-049e-11eb-85cf-55fed31e2786.png)

**Expected behavior:**
Running locally shouldn't change any file or we can add the file to be ignored.

**Steps to reproduce:**
Run `npm start`

[2020-10-02 04:04] wildan3105 commented on #136
Can we do multi-language though using our template engine (jade)?

[2020-10-02 05:11] wildan3105 opened #149 "Social media share button only show text on firefox"
**Current behavior:**
Browse using firefox, social media share button (tweet & share fb) only showing the text without the button. Take a look at the picture below:

![firefox](https://user-images.githubusercontent.com/7030099/94890000-3e3af480-04a8-11eb-9cba-45c6b10c21de.png)

**Expected behavior:**

It should be displayed with the button and logo like this:

![chrome](https://user-images.githubu

[2020-10-02 05:23] yerlantemir commented on #145
Hi, could you assign me?

[2020-10-02 05:28] wildan3105 commented on #145
yes, sure! feel free to reproduce on your local and come up with a PR! @yerlantemir

[2020-10-02 05:40] arnxv0 commented on #149
https://support.mozilla.org/en-US/questions/1129489 this might help?

[2020-10-02 05:42] wildan3105 commented on #149
Ah I see. Maybe it's because privacy-related policy that's applied on firefox. Do you mind replicating this to other browser? like edge and safari @arnxv0

[2020-10-02 05:50] wildan3105 commented on #149
Never mind it’s only happening on firefox. Going to close this issue. Thanks for the useful information @arnxv0 !

[2020-10-02 05:50] #149 closed

[2020-10-02 05:56] arnxv0 commented on #149
Happy to help :) @wildan3105

[2020-10-02 06:05] urmauur commented on #145
Hi @wildan3105 I try running locally but always got `error_messages.CLIENT_ID_AND_CLIENT_SECRET_MISSING` also already add .env on the root folder, am I missing something?

[2020-10-02 06:09] wildan3105 commented on #145
oh sorry I changed the implementation of `dotenv` so right now no need to add `.env` file. Just running it like this:
`CLIENT_ID=your_client_id CLIENT_SECRET=your_client_secret ENV=local npm start`

[2020-10-02 06:28] urmauur commented on #145
yes running that's script everything good, but nothing happens on port 5000 on my browser.

[2020-10-02 06:36] wildan3105 commented on #145
Have you [generated](https://github.com/settings/applications/new) client_id and client_secret? Can you also try to **rm -rf node_modules/** and do the **npm install** again?

The log should be like this if you've successfully run the repo locally:

![run](https://user-images.githubusercontent.com/7030099/94894723-279a9a80-04b4-11eb-8830-4db6c9798a96.png)

[2020-10-02 06:36] wildan3105 commented on #145
Ignore the different path of `lib/app.js` because currently, I'm refactoring the repo

[2020-10-02 06:41] urmauur commented on #145
yes I've client_id and client_secret, Here my logs

<img width="512" alt="Screen Shot 2020-10-02 at 13 39 39" src="https://user-images.githubusercontent.com/10354610/94895042-c7582880-04b4-11eb-8ef8-eff448381b29.png">

[2020-10-02 06:48] wildan3105 commented on #145
Ok let's put this into separate issue while I'm trying to reproduce this locally @urmauur

[2020-10-02 06:54] urmauur commented on #145
@wildan3105 sure, let me know if already update, I want to try to fix your gulp-sass,

[2020-10-02 06:55] wildan3105 opened #151 "possible cannot running the app locally"
**Current behavior:**
From here: https://github.com/wildan3105/github-langs/issues/145

**Expected behavior:**

Can easily run the app locally without hassle

**Steps to reproduce:**

[2020-10-02 06:56] wildan3105 commented on #145
Let's coordinate in https://github.com/wildan3105/github-langs/issues/151 @urmauur

[2020-10-02 06:57] urmauur opened #152 "Cannot accessing the app on normal browsing mode"
**Current behavior:**
`currently i run this script CLIENT_ID=xxx CLIENT_SECRET=xxx ENV=local npm start`

**Expected behavior:**
Available can access https://localhost:5000
<img width="498" alt="Screen Shot 2020-10-02 at 13 57 17" src="https://user-images.githubusercontent.com/10354610/94896234-333b9080-04b7-11eb-9108-09adfb229fda.png">

**Steps to reproduce:**
`npm install`
`CLIENT_ID=xxx CLIENT_S

[2020-10-02 06:58] wildan3105 commented on #151
Possible solution:
- list all the app that's running on a specific port using this command: `lsof -i tcp:<port>`
- if there's an app that's still running, kill the app using this command: `sudo kill <ppid>`
- then run the app again

@urmauur

[2020-10-02 06:58] #151 closed

[2020-10-02 06:58] wildan3105 commented on #152
Possible solution:
- list all the app that's running on a specific port using this command: lsof -i tcp:<port>
- if there's an app that's still running, kill the app using this command: sudo kill <ppid>
- then run the app again

@urmauur

[2020-10-02 07:02] wildan3105 commented on #152
If you see the app is already running on a specific port (by doing `lsof -i tcp:<port>`), try to access it via a private mode browser because my above suggestion is only for this error:
`Nodemon: Error: listen EADDRINUSE: address already in use :::5000`

[2020-10-02 07:03] urmauur commented on #152
oh shit @wildan3105 only private I can access

[2020-10-02 07:12] wildan3105 commented on #152
yeah so the problem is solved right? but still need to find a rootcause why is it not working on normal mode. you can close this one if you want to :+1:

[2020-10-02 07:15] wildan3105 commented on #152
or change this issue to be: `cannot running the app on normal browsing mode` and try to solve it :grin:

[2020-10-02 07:42] urmauur commented on #152
After clear cache browse everything run normally on `localhost:5000` @wildan3105

[2020-10-02 07:42] #152 closed

[2020-10-02 08:27] urmauur commented on #145
@wildan3105 @yerlantemir any update this issue, can i try ?

[2020-10-02 08:29] wildan3105 commented on #145
basically the rule of thumb is everyone is welcomed to make any PR but the priority is to the first claimer, in this case @yerlantemir
but you're most welcome to create a PR @urmauur

[2020-10-02 08:30] wildan3105 commented on #137
Partially covered in #150

[2020-10-02 08:55] urmauur opened #154 "Watch changes file SCSS"
**Current behavior:**
When we have SCSS file changes we need to restart the server, and running again

**Expected behavior:**
When we have SCSS file changes, gulp file auto recompile the CSS

**Steps to reproduce:**
User gulp watch and add new script dev on package JSON

[2020-10-02 08:58] urmauur commented on #145
@wildan3105 make a PR https://github.com/wildan3105/github-langs/pull/153

[2020-10-02 09:07] wildan3105 commented on #145
acknowledged, will take a look later

[2020-10-02 09:13] urmauur commented on #145
👌🏻

[2020-10-02 09:46] wildan3105 opened #155 "Links on 404 not found page are not clear enough"
**Current behavior:**
Since we have a royal blue background and the links on the 404 page are also in blue (less dark), it's kind of hard to be aware of the links (back to home & issues link)

![404](https://user-images.githubusercontent.com/7030099/94910277-b5837f00-04ce-11eb-970e-7c2e55874e5a.png)

**Expected behavior:**
Use the custom color (more bright) with the same experience of click and re

[2020-10-02 09:50] urmauur commented on #154
@wildan3105 can you assign to me, I will work on it

[2020-10-02 09:51] or-yam commented on #155
Can I take this one ?

[2020-10-02 09:51] wildan3105 commented on #154
sure go for it!

[2020-10-02 09:54] wildan3105 commented on #155
sure go for it @or-yam !

[2020-10-02 09:58] #145 closed

[2020-10-02 09:59] wildan3105 commented on #155
please fetch the latest master cause I've just re-structured a bit the repo @or-yam

[2020-10-02 10:00] wildan3105 commented on #154
please fetch the latest master cause I've just re-structured a bit the repo @urmauur

[2020-10-02 10:08] wildan3105 opened #156 "[Open for suggestion] What's next for github-langs"
Currently we have these features:
- Show statistics of repo's programming language on github account
- Display total of each programming language based on github programming language color
- Browse the repo with specific programming language directly from the chart bar
- Ability to display the color in multicolor or single color (white)
- Ability to download the chart in a JPG file
- Social media

[2020-10-02 10:19] or-yam commented on #155
how do i setup the process.env?
tried to create .env file in the root folder but got `Missing CLIENT_ID and CLIENT_SECRET environment variables`

[2020-10-02 10:24] wildan3105 commented on #155
From your terminal, you can just run it using this command:
`CLIENT_ID=your_client_id CLIENT_SECRET=your_client_secret ENV=local npm start`

[2020-10-03 02:42] wildan3105 opened #161 "Differentiate between original & forked repositories"
**Current behavior:**
Right now, most of the repos that are shown in the chart are **original repos**. Whereas the **forked repositories** are identified by black color and we don't know what languages are used in those forked ones.

**Expected behavior:**
Add another button (under the chart maybe? open for suggestion) if user has forked repository and display it like the original repo (with multi

[2020-10-03 02:42] wildan3105 commented on #156
One of the suggestion is written in #161

[2020-10-03 03:03] sandy9808 commented on #161
I am looking into it.

[2020-10-03 03:11] wildan3105 commented on #161
Yeay thanks! But please be mindful as this is a big feature. Maybe we can create `non-master` branch for this until the feature is stable enough @sandy9808

[2020-10-03 03:18] wildan3105 opened #163 "[Help needed] add unit test for utils: chart.js"
**Current behavior:**
Not all utils are fully covered with unit test.

**Expected behavior:**
Every util should be covered by the unit test so we're confident with every change we make to that file. We can follow the unit test approach that I've made in this folder: https://github.com/wildan3105/github-langs/tree/master/tests/utils

**Steps to reproduce:**
File: https://github.com/wildan3105/githu

[2020-10-03 03:21] wildan3105 opened #164 "[Help needed] add unit test for utils: social.js"
**Current behavior:**
Not all utils are fully covered with unit test.

**Expected behavior:**
Every util should be covered by the unit test so we're confident with every change we make to that file. We can follow the unit test approach that I've made in this folder: https://github.com/wildan3105/github-langs/tree/master/tests/utils

**Steps to reproduce:**
File: https://github.com/wildan3105/githu

[2020-10-03 03:21] ashikvarma11 commented on #163
@wildan3105  I would like to take this one. Could you assign me this?

[2020-10-03 03:22] wildan3105 opened #165 "[Help needed] add unit test for util: spinner.js"
**Current behavior:**
Not all utils are fully covered with unit test.

**Expected behavior:**
Every util should be covered by the unit test so we're confident with every change we make to that file. We can follow the unit test approach that I've made in this folder: https://github.com/wildan3105/github-langs/tree/master/tests/utils

**Steps to reproduce:**
File: https://github.com/wildan3105/githu

[2020-10-03 03:22] wildan3105 commented on #163
yeah sure go ahead!

[2020-10-03 03:24] wildan3105 commented on #163
Please be mindful because `chart.js` is actually a collection of utils, so maybe you need to refactor a bit to make it more readable, easy to test, and easy to develop in the future :+1:
Take your time to understand the code first before making any changes :ok_hand: @ashikvarma11

[2020-10-03 04:22] arthur322 commented on #165
Hello! Can I take this issue?

[2020-10-03 04:23] wildan3105 opened #166 "Better code structure"
**Current behavior:**
Currently, because the repo is full-stack which means frontend and backend are stored in the same repo, the folder structure is a bit messy. So we need to re-structure the folder & files based on the best practice while still not breaking any functionality. Also, in the future, I prefer to move from template engine to a js frontend framework like react. So we need to make thi

[2020-10-03 04:25] wildan3105 commented on #165
yes sure!

[2020-10-03 04:29] wildan3105 commented on #166
This issue is tracked in this branch: https://github.com/wildan3105/github-langs/tree/refactor/improve-codebase-structure

[2020-10-03 06:03] ashikvarma11 commented on #163
@wildan3105  I attempted to cover about 30% of the lines in Chart.js. But I need a few clarifications regarding this. For chart.js, spinner.js and other such files, testing  the functionality requires running it on the browser. Can we use something like Puppeteer or Cypress?

[2020-10-03 06:16] wildan3105 commented on #163
Hmm I think for now the prioritization is at least have some coverage on each util. For chart.js, I believe you can make the unit test for `parse` and `sum` function. For the rest, as it requires running on the browser, we can create separate issues. What do you think @ashikvarma11 ?

[2020-10-03 06:21] wildan3105 commented on #163
Also please help me to confirm whether we still use this function: https://github.com/wildan3105/github-langs/blob/bfe4961d2258175e0e8b6923dccb57fa48bb7333/lib/public/js/chart.js#L4 :thinking:

And also you can export those functions inside the `chart.js` so you can test it in the `/tests` folder

[2020-10-03 06:40] ashikvarma11 commented on #163
Good idea. I think we can have an open discussion about which tool to use.

[2020-10-03 06:41] ashikvarma11 commented on #163
No, we don't use it anywhere else. I guess, it was used earlier to parse the languages. I have written tests for it though. 😆

[2020-10-03 06:43] wildan3105 commented on #163
Haha LOL. You can delete that function tho. Sorry for the hussle. In exchange, I think you can test this function:
https://github.com/wildan3105/github-langs/blob/bfe4961d2258175e0e8b6923dccb57fa48bb7333/lib/public/js/chart.js#L119

[2020-10-03 06:59] wildan3105 opened #168 "Preview URL upon Pull Request creation"
**Current behavior:**
There's no preview URL that we can see if someone creates a PR so it's quite hard to see the proposed changes. And previously, I've added integration with vercel but it didn't work :sweat_smile:

**Expected behavior:**
Proposing to create a preview URL this time with netlify. Ref: https://www.netlify.com/blog/2016/07/20/introducing-deploy-previews-in-netlify/

[2020-10-03 08:15] dhapin commented on #136
Which files need to be translated into Indonesian? Maybe I can help?

[2020-10-03 08:25] wildan3105 commented on #136
I'm planning to translate this into Indonesian because that's my native language :sweat_smile:
I can provide the translation but I need your help to find a way to do the localization using handlebars. Maybe these links would help?
- https://stackoverflow.com/questions/7760332/how-to-make-i18n-with-handlebars-js-mustache-templates
- https://coderwall.com/p/77flzq/localized-templates-with-handlebars

[2020-10-03 08:44] wildan3105 commented on #136
Adding this to the milestone: https://github.com/wildan3105/github-langs/milestone/3 for better trackability

[2020-10-03 09:17] dhapin commented on #136
Do you think this is correct? #173

[2020-10-03 09:19] wildan3105 commented on #136
I think you misunderstand :sweat_smile:
What I mean is **to support**, not just translate. If just translating, than it will change the whole content to Indonesian. Please update your implementation to support **both Bahasa Indonesia & English**

[2020-10-03 09:19] wildan3105 commented on #136
Never mind the warning, it doesn't matter as long as it's passing the unit test.

[2020-10-03 09:23] wildan3105 commented on #136
I believe you can utilize this library: https://github.com/mashpie/i18n-node
Let's make a simple change first, starting from the footer content so it will have both `EN` and `ID` content.
You can find the footer content here: https://github.com/wildan3105/github-langs/blob/87665d6f0bf3de1235f2c25bda3733e58bc75d9d/views/partials/body.handlebars#L100

[2020-10-03 09:33] dhapin commented on #136
How?

[2020-10-03 09:33] dhapin commented on #136
I dont really understand what you mean

[2020-10-03 09:37] wildan3105 commented on #136
Your pr is **only translating the content**, not **supporting dual-language**. Are you aware of it firstly?

If you're aware, then you can update your implementation if you still work on this issue (take a look at this example: https://gist.github.com/mashpie/5246334). Else, I'd prefer to work it by myself.

[2020-10-03 09:39] wildan3105 commented on #136
If this is too complicated for you, contribution to other issues are also welcome :slightly_smiling_face:

[2020-10-03 09:50] wildan3105 commented on #136
Sorry if I'm being not clear here. My apologies but I think you already got my point right? It's for supporting dual-language, not just translating it.

[2020-10-03 09:57] dhapin commented on #136
Can you explain it in Indonesian? :)

[2020-10-03 09:59] wildan3105 commented on #136
Oke tidak apa-apa karena sesama orang Indonesia ya haha. Jadi kebutuhannya adalah untuk men-support dua bahasa, Indonesia dan Inggris. Bukan menerjemahkan, tapi menyediakan opsi agar pengguna bisa memilih antara bahasa Indonesia dan Inggris.

[2020-10-03 10:01] dhapin commented on #136
bikin tombol baru di kiri atas?

[2020-10-03 10:03] dhapin commented on #136
Cara biar 1 html bisa berisi 2 bahasa gimana?

[2020-10-03 10:07] dhapin commented on #136
Ok sepertinya saya sudah ada ide

[2020-10-04 04:16] #165 closed

[2020-10-04 09:18] dhapin commented on #136
![image](https://user-images.githubusercontent.com/67732961/95011706-41c7aa80-0665-11eb-8b8e-7c4c63974c6e.png)
Silahkan dicek 🙏
Perubahan ini akan mengikuti bahasa yang digunakan browser, jadi tidak ada element html yang ditambahkan.

[2020-10-04 11:32] #163 closed

[2020-10-05 03:59] #154 closed

[2020-10-11 03:51] wildan3105 commented on #155
Closed by #157

[2020-10-11 03:51] #155 closed

[2020-10-24 04:45] wildan3105 opened #178 "Functionality test cases"
**Current behavior:**
There are no functionality test cases

**Expected behavior:**
Create functionality test cases to cover these (minimum) behaviours:
- user not found
- user with 0 repo
- user with more than 0 repo
- user with more than 20 languages
- user with type personal & organization

[2020-10-24 05:11] wildan3105 commented on #166
**PHASE 1 is done**

**PHASE 2 goals:**
- move all github API calls to `src/api/service.js`
- improve logic in `src/api/controller.js`, especially data manipulation

[2021-02-27 20:40] nutxeon commented on #50
how to fix this
(node:12138) UnhandledPromiseRejectionWarning: Error: Request failed with status code 409
    at createError (/root/node_modules/axios-https-proxy-fix/lib/core/createError.js:16:15)
    at settle (/root/node_modules/axios-https-proxy-fix/lib/core/settle.js:18:12)
    at IncomingMessage.handleStreamEnd (/root/node_modules/axios-https-proxy-fix/lib/adapter
    at IncomingMessage.emit